/* base primary : #fF00FF
base secondary : #aaff00 */

:root,
[data-fm-darkreader-scheme=light], [data-fm-theme=light] {
    --fm-primary-subtle: #FAEBFA;
    --fm-primary-light: #E699E6;
    --fm-primary: #CC33CC;
    --fm-primary-contrast: #80007F;
    --fm-secondary-subtle: #F5FAEB;
    --fm-secondary: #99CC33;
    --fm-secondary-contrast: #558000;
}
[data-darkreader-scheme=dark], [data-fm-theme=dark] {
    --fm-primary-subtle: #660066;
    --fm-primary-light: #660066;
    --fm-primary: #CC33CC;
    --fm-primary-contrast: #EF8FEF;
    --fm-secondary-subtle: #2E3D0F;
    --fm-secondary: #99CC33;
    --fm-secondary-contrast: #CFEF8F;
}

.bg-primary-subtle {background-color: var(--fm-primary-subtle) !important;}
.bg-primary {background-color: var(--fm-primary) !important;}
.bg-primary-contrast {background-color: var(--fm-primary-contrast) !important;}
.bg-secondary-subtle {background-color: var(--fm-secondary-subtle) !important;}
.bg-secondary {background-color: var(--fm-secondary) !important;}
.bg-secondary-contrast {background-color: var(--fm-secondary-contrast) !important;}

.text-primary-subtle {color: var(--fm-primary-subtle) !important;}
.text-primary {color: var(--fm-primary) !important;}
.text-primary-contrast {color: var(--fm-primary-contrast) !important;}
.text-secondary-subtle {color: var(--fm-secondary-subtle) !important;}
.text-secondary {color: var(--fm-secondary) !important;}
.text-secondary-contrast {color: var(--fm-secondary-contrast) !important;}

.border-primary-subtle {border-color: var(--fm-primary-subtle) !important;}
.border-primary {border-color: var(--fm-primary) !important;}
.border-primary-contrast {border-color: var(--fm-primary-contrast) !important;}
.border-secondary-subtle {border-color: var(--fm-secondary-subtle) !important;}
.border-secondary {border-color: var(--fm-secondary) !important;}
.border-secondary-contrast {border-color: var(--fm-secondary-contrast) !important;}

.smallcap {
    font-variant: small-caps;
}

.navbar-toggler {
    background-color: var(--fm-primary-subtle);
    border: solid var(--fm-secondary-contrast);
    color: var(--fm-primary-contrast);
}
.navbar-toggler:focus {
    box-shadow: none;
}

:target::before {
    content: "";
    display: block;
    height: 60px;
    margin-top: -30px;
}

h1, .h1 {
    color: var(--fm-primary-contrast);
    font-weight: 700;
}
h2, .h2 {
    color: var(--fm-primary);
    font-weight: 400;
}
h3, .h3 {
    color: var(--fm-primary-light);
    font-weight: 200;
}

.btn-primary {
    color: var(--fm-secondary-contrast) !important;
    background-color: var(--fm-primary-subtle) !important;
    border-color: var(--fm-primary-contrast) !important;
}
.btn-primary:hover {
    color: var(--fm-secondary-subtle) !important;
    background-color: var(--fm-primary-contrast) !important;
    border-color: var(--fm-secondary-contrast) !important;
}
.btn-primary:active {
    color: var(--fm-primary-subtle) !important;
    background-color: var(--fm-secondary-contrast) !important;
    border-color: var(--fm-primary-contrast) !important;
}

.btn-secondary {
    color: var(--fm-primary-contrast) !important;
    background-color: var(--fm-secondary-subtle) !important;
    border-color: var(--fm-secondary-contrast) !important;
}
.btn-secondary:hover {
    color: var(--fm-primary-subtle) !important;
    background-color: var(--fm-secondary-contrast) !important;
    border-color: var(--fm-primary-contrast) !important;
}
.btn-secondary:active {
    color: var(--fm-secondary-subtle) !important;
    background-color: var(--fm-primary-contrast) !important;
    border-color: var(--fm-secondary-contrast) !important;
}

i {
    font-size: 2em;
}
.progress-25 {
    width: 25%;
}
.progress-33 {
    width: 33%;
}
.progress-50 {
    width: 50%;
}
.progress-66 {
    width: 66%;
}
.progress-75 {
    width: 75%;
}

.btn[aria-expanded]::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
}
.btn[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.form-control:focus {
    border-color: var(--fm-secondary-contrast);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--fm-secondary-subtle);
  }
